img{
    margin-left: 14cm;
    height: 8cm;
}
div{
  text-size-adjust: large;
    margin-left: 12cm;
    margin-top: 3cm;
}

footer{
    background-color: blue;
    text-align: center;
}
a{
    color: black;
}
